.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-card{
  padding: 3rem;
  border-radius: 0.25rem;
  background-color: #fff;
  border: 0.01rem solid #ddd;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.field{
  margin-bottom: 1rem;
}

.form-title {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.register-link{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bottom-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.login-error{
  margin-bottom: 1.5rem;
}
