<div class="container">
  <div class="register-card">
    <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">

      <h1 class="form-title">Register</h1>

      <mat-form-field (focusout)="isEmailAlreadyExists()" class="field">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
        @if(registerForm?.get('email')?.errors?.['emailAlreadyExists']) {
          <mat-error>
            Email already used
          </mat-error>
        } @else if (registerForm.get('email')?.invalid) {
          <mat-error>
            Email invalid
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        @if(registerForm.get('password')?.invalid) {
          <mat-error>Password invalid</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Password Confirmation</mat-label>
        <input type="password" matInput formControlName="passwordConfirmation">
        @if(registerForm.get('passwordConfirmation')?.errors?.['passwordMismatch']) {
          <mat-error>Passwords do not match</mat-error>
        }
      </mat-form-field>

      <mat-form-field (focusout)="isUserNameAlreadyExists()" class="field">
        <mat-label>UserName</mat-label>
        <input type="text" matInput formControlName="username">
        @if(registerForm?.get('username')?.errors?.['userNameAlreadyExists']) {
          <mat-error>
            UserName already used
          </mat-error>
        } @else if (registerForm.get('username')?.invalid) {
          <mat-error>
            UserName invalid
          </mat-error>
        }
      </mat-form-field>

      <div class="bottom-form">
        <button mat-raised-button class="register-button" color="primary" type="submit" [disabled]="registerForm.invalid">Register</button>
        <a mat-raised-button class="register-link" [routerLink]="routesNames.login">Login here</a>
      </div>

    </form>
  </div>
</div>
